@using AutoPases.Models
@model IEnumerable<ModProyectosActivos>


<script type="text/javascript">
    function onSelect(e) {
        kendoConsole.log("Selecting: " + this.text(e.node));
    }

    function onCheck(e) {
        kendoConsole.log("Checkbox changed :: " + this.text(e.node));
    }

    function onChange(e) {
        kendoConsole.log("Selection changed");
    }

    function checkManager(element, state) {
        //cambiar el valor de un check
        var treeview = $("#treeview").data("kendoTreeView");
        var item = treeview.findByText(element);
        if (item) {
            kendoConsole.log("Checkbox changed :: " + element);
            treeview.dataItem(item).set("checked", state);
        }
    }
    $(document).ready(function () {
        $("#rollback").on("click", function () {
            window.RollBack();
        });
    });
</script>
<div id="treeview"></div>
<div class="clearfix"></div>
<input type="button" value="RollBack" class="btn btn-block" id="rollback" style="display:none;" />

<script>
    var jsonData = @Html.Raw(Json.Encode(@Model));
    var treeViewData = JSON.parse(jsonData[0].TreeView);
    var dsTreeView = [];
    $.each(treeViewData.treeView, function (index, value) {
        dsTreeView[index] = {id: index, text: value}
    });
    $("#treeview").kendoTreeView({
        loadOnDemand: false,
        checkboxes: {
            checkChildren: true
        },
        dataSource: dsTreeView,
        select: onSelect,
        check: onCheck,
        change: onChange,
    });
    setTimeout(function(){
        window[treeViewData.treeView[0]](jsonData[0],0);
    }, 1000);
</script>
